.header-top-01 {
	border-bottom: 1px solid rgba(var(--#{$prefix}dark-rgb), 0.1);
	.nav-link {
        color: rgba(var(--#{$prefix}dark-rgb), 0.8);
        &:hover {
            color: var(--#{$prefix}dark);
        }
    }
    .navbar-transparent.navbar-light:not(.headroom--not-top) & {
    	color: rgba(var(--#{$prefix}white-rgb), 0.8);
    	border-bottom: 1px solid rgba(var(--#{$prefix}white-rgb), 0.1);
        .nav-link {
            color: rgba(var(--#{$prefix}white-rgb), 0.8);
            &:hover {
                color: var(--#{$prefix}white);
            }
        }
    }
}


.header-top-light {
    .nav-link {
        color: rgba(var(--#{$prefix}white-rgb), 0.8);
        &:hover {
            color: var(--#{$prefix}white);
        }
    }
}