$utilities: () !default;
$utilities: map-merge((
  "width": (
    property: width,
    responsive: true,
    class: w,
    values: (
      5: 5%,
      10: 10%,
      15: 15%,
      25: 25%,
      30: 30%,
      35: 35%,
      40: 40%,
      45: 45%,
      50: 50%,
      55: 55%,
      60: 60%,
      65: 65%,
      75: 75%,
      80: 80%,
      85: 85%,
      90: 90%,
      95: 95%,
      100: 100%,
      auto: auto
    )
  ),
  "bg-opacity": (
    css-var: true,
    class: bg-opacity,
    values: (
      10: .1,
      20: .2,
      30: .3,
      40: .4,
      60: .6,
      70: .7,
      80: .8,
      90: .9
    )
  ),
  "opacity": (
    property: opacity,
    //responsive: true,
    values: (
      0: 0,
      1: .1,
      2: .2,
      3: .3,
      4: .4,
      5: .5,
      6: .6,
      7: .7,
      8: .8,
      9: .9,
      10: 1,
    )
  ),
  "min-viewport-height": (
    property: min-height,
    responsive: true,
    class: min-vh,
    values: (
      50: 50vh,
      65: 65vh,
      75: 75vh,
      85: 85vh,
      100: 100vh
    )
  ),
  "weight": (
    property: font-weight,
    class: fw,
    values: (
      100: 100,
      200: 200,
      300: 300,
      400: 400,
      500: 500,
      600: 600,
      700: 700,
      800: 800,
      900: 900
    )
  ),
  "HeightPX": (
    property: min-height,
    responsive: true,
    class: min-h,
    values: (
      150px: 150px,
      250px: 250px,
      350px: 350px
    )
  ),
  "ZIndexM": (
    property: z-index,
    responsive: false,
    class: z-index,
    values: (
      -1: -1,
      -2: -2,
      -3: -3,
      -4: -4,
      -5: -5,
      -6: -6,
      -7: -7,
      -8: -8,
      -9: -9,
      -10: -10
    )
  ),
  "ZIndex": (
    property: z-index,
    responsive: false,
    class: z-index,
    values: (
      1: 1,
      2: 2,
      3: 3,
      4: 4,
      5: 5,
      6: 6,
      7: 7,
      8: 8,
      9: 9,
      10: 10
    )
  ),
  "MaxwidthPX": (
    property: max-width,
    responsive: true,
    class: max-w,
    values: (
      100px: 100px,
      150px: 150px,
      200px: 200px,
      250px: 250px
    )
  ),
  "text-opacity": (
    css-var: true,
    class: text-opacity,
    values: (
      10: .1,
      15: .15,
      20: .20,
      25: .25,
      30: .30,
      35: .35,
      40: .40,
      45: .45,
      50: .50,
      55: .55,
      60: .60,
      65: .65,
      70: .70,
      75: .75,
      80: .80,
      85: .85,
      90: .90,
      95: .95,
      100: .100
    )
  ),
  "widthPX": (
    property: width,
    responsive: true,
    class: w-px,
    values: (
      50: 50px,
      100: 100px,
      150: 150px,
      200: 200px,
      250: 250px,
      300: 300px,
      350: 350px
    )
  )
), $utilities);

